
.mainprofile{
    background-color: #c3e9fb;
    background-size: cover;
    margin: 4vh 1vw 2vh 1vw;
    height:94vh;
    width: 96vw;
    background: linear-gradient(145deg, #90e0ef, #0076BE);
    border-radius: 4vh;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mainprofile .heading{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 96vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}
.mainprofile .heading img{
    height: 10vh;
    width: 14vw;
    object-fit: contain;
}
.mainprofile .heading .logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.mainprofile .heading .logout button{
    height: 4.5vh;
    width: 8vw;
    margin: 1vh 0 1vh 1vw;
    border:none;
    border-radius: 1vh;
    background: none;
    text-align: center;
    font-size: 3vh;
    font-weight: 700;
    color: white;
}
.mainprofile .title h2{
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
    margin-top: -4vh;
}
.mainprofile .backgnd{
    width: 96vw;
    height: 68vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mainprofile .backgnd .prof{
    width: 46vw;
    height: 39vh;
    margin: 0 1vw 0 2vw;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vw 1vh 2vw;
}
.mainprofile .backgnd .prof .profphoto{
    height: 25vh;
    width:12vw;
    background-color: #90e0ef;
    border-radius: 20vh;
    margin: 0 1vw 0 0;
}
.mainprofile .backgnd .prof .profphoto img{
    height: 25vh;
    width:12vw;
    border-radius: 20vh;
    object-fit: contain;
}

.mainprofile .backgnd .prof .profinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 23vw;
    height: 36vh;
    /* background-color: #0076BE; */
    margin: 0 0 0 3vw;
}
.mainprofile .backgnd .prof .profinfo .infoupdate{
    width: 17vw;
    height: 5vh;
    background-color: #0076BE;
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 2vh;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.mainprofile .backgnd .detaildisp{
    display: flex;
    flex-direction: column;
}
.mainprofile .backgnd .detaildisp .disp1{
    width: 46vw;
    height: 29vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: -6vh 2vw 1vh 1vw;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6vh 2vw 1vh 3vw;
}
.mainprofile .backgnd .detaildisp .disp2{
    width: 46vw;
    height: 29vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1vh 2vw 1vh 1vw;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6vh 2vw 1vh 3vw;
}
.mainprofile .bottomdiv{
    width: 30vw;
    height: vh;
    background-color: #09588a;
    border-radius: 1vh;
    margin-bottom: -6vh;
    cursor: pointer;
    transform: scale(1.5);
}

.mainprofile .heading .logout .logoutlogo{
    color: white;
    font-size: 2.5vh; 
    transform: scale(1.5);
    margin-right:4vw;
    margin-left:-0.9vw;
    margin-bottom:2vh
}

@media (orientation: portrait){
    .mainprofile .backgnd .prof{
        width: 46vw;
        height: 60vh;
        margin: 0 1vw 0 2vw;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 2vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1vh 2vw 1vh 2vw;
        flex-wrap: wrap;
    }

    .mainprofile .backgnd .prof .profphoto{
        width: 35vw;
        height: 35vw;
        border-radius: 100%;
        margin: 0;
    }

    .mainprofile .title h2{
        font-size: 5vw;
        padding: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .mainprofile .heading .logout .button{
        font-size: 2vh;
        padding-right: 10vh;
    }
    .mainprofile .heading .logout .logoutlogo{
        font-size: 2vh;
        margin-left: -3vw;
        margin-bottom: 2.3vh;
        margin-right: 7vw;
    }

    .mainprofile .backgnd .prof .profinfo{
        width: 90%;
        justify-content: start;
        padding-top: 4vh;
        margin-left: 0;
    }

    .mainprofile .backgnd .prof .profinfo h5{
        font-size: 2vw;
    }

    .mainprofile .backgnd .prof .profinfo h2{
        width: 100%;
        font-size: 6vw;
        font-weight: 600;
        margin-bottom: 1vh;
    }

    .mainprofile .backgnd .prof .profinfo .infoupdate{
        font-size: 2vw;
        width: 57%;
        border-radius: 10px;
    }

    .mainprofile .backgnd .prof .profinfo center{
        width: 100%;
        margin-top: 1vh;
    }

    .mainprofile .backgnd .detaildisp h5{
        font-size: 2vw; 
    }

    .mainprofile .backgnd .detaildisp h2{
        font-size: 6vw; 
        font-weight: 550;
    }

    .mainprofile .heading img{
        width: 25vw;
        padding-left: 5vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 550px){
    .mainprofile .backgnd .prof .profphoto{
        width: 20vw;
        height: 20vw;
        border-radius: 100%;
        margin: 0;
    }
}

/* YourComponent.css */
.mainprofile .bottomdiv {
    display: flex;
    justify-content: space-around;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .mainprofile .bottomdiv {
      flex-direction: column; /* Stack buttons vertically */
      align-items: center; /* Center buttons horizontally */
    }
  
    /* Add any additional styling for smaller screens */
    /* For example, you can change the button's font size */
    .mainprofile .bottomdiv button {
      font-size: 16px;
    }
  }
  
  /* Media query for screens larger than 768px */
  @media (min-width: 769px) {
    /* Add any additional styling for larger screens */
    /* For example, you can change the button's padding */
    .mainprofile .bottomdiv button {
      padding: 10px 20px;
    }
  }
  
  /* YourComponent.css */
.mainprofile .bottomdiv {
    display: flex;
    justify-content: space-around;
    margin-top: -4vh;
  }
  
  .button-container {
    text-align: center;
    cursor: pointer;
  }
  
  .button-container.active {
    background-color: #0f4a91; /* Add active state styling */
  }
  
  .button-container button {
    background-color: white;
    border: none;
    border-radius: 100%; /* Make the button circular */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
  }
  
  .label {
    font-size: 12px;
    margin-top: 8px;
  }
  